{% extends "layouts/base.html" %}

{% block title %} Delivery History {% endblock %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="page-header">
                    <h5>Delivery History</h5>
                </div>
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-block">
                                        {% if deliveries %}
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Order ID</th>
                                                        <th>Food Name</th>
                                                        <th>Donor Name</th>
                                                        <th>Donor Contact</th>
                                                        <th>Food Bank Name</th>
                                                        <th>Food Bank Location</th>
                                                        <th>Food Bank Contact</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for delivery in deliveries %}
                                                    <tr>
                                                        <td>{{ delivery.OrderID }}</td>
                                                        <td>{{ delivery.FoodName }}</td>
                                                        <td>{{ delivery.DonorName }}</td>  <!-- Fixed this line -->
                                                        <td>{{ delivery.DonorContact }}</td>
                                                        <td>{{ delivery.FoodBankName }}</td>
                                                        <td>{{ delivery.FoodBankAddress }}</td>
                                                        <td>{{ delivery.FoodBankContact }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        {% else %}
                                            <div class="text-center">
                                                <p>No delivery history found.</p>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
