<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title">FeedBridge</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li data-username="Home" class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="../foodbank/home.html" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">Home</span>
                    </a>
                </li>
                <li data-username="Profile Page" class="nav-item {% if 'profile' in segment %} active {% endif %}">
                    <a href="../foodbank/profile.html" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                        <span class="pcoded-mtext">Profile</span>
                    </a>
                </li>
                <li data-username="Order" class="nav-item {% if 'order' in segment %} active {% endif %}">
                    <a href="../foodbank/order.html" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-shopping-cart"></i></span>
                        <span class="pcoded-mtext">Order</span>
                    </a>
                </li>
                <li data-username="Chatbot" class="nav-item {% if 'chatbot' in segment %} active {% endif %}">
                    <a href="../foodbank/chatbot.html" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-message-circle"></i></span>
                        <span class="pcoded-mtext">Chatbot</span>
                    </a>
                </li>
                <li data-username="History" class="nav-item {% if 'history' in segment %} active {% endif %}">
                    <a href="../foodbank/history.html" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-clock"></i></span>
                        <span class="pcoded-mtext">History</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
