{% extends "layouts/base-fullscreen.html" %}

{% block title %} Reset Password {% endblock %}

{% block content %}

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <!-- <div class="mb-4">
                        <i class="feather icon-mail auth-icon"></i>
                    </div> -->
                    <h3 class="mb-4">Reset Password</h3>
                    
                    <span class="mb-0 text-muted">
                        {% if msg %}
                            <span class="text-danger">{{ msg | safe }}</span>
                        {% else %}
                            Enter your credentials and new password
                        {% endif %} 
                    </span>

                    <br />
                    <br />

                    <!-- Hide the form on success -->
                    {% if success %}
                        <a href="{{ url_for('authentication_blueprint.login') }}" class="btn btn-primary shadow-2 mb-4">Sign In</a>
                    {% else %}
                        <form role="form" method="post" action="">

                            {{ form.hidden_tag() }}                    

                            <div class="input-group mb-3">
                                {{ form.username(placeholder="Username or Email", class="form-control") }}
                            </div>
                            
                            <div class="input-group mb-4">
                                {{ form.new_password(placeholder="New Password", class="form-control", type="password") }}
                            </div>
                            
                            <button type="submit" name="reset" class="btn btn-primary shadow-2 mb-4">Reset</button>

                        </form>

                        <p class="mb-0 text-muted">Don’t have an account? <a href="/auth-signup.html">Signup</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
