{% extends "layouts/base.html" %}

{% block title %} Donation History {% endblock %}

{% block content %}
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Your Donation History</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/home"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="javascript:">Donations</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Your Donation History</h5>
                                        <span class="d-block m-t-5">Details of donations made till date</span>
                                    </div>
                                    <div class="card-block table-border-style">
                                        {% if donations %}
                                            <div class="table-responsive">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <!-- <th>#</th> -->
                                                            <th>Donation ID</th>
                                                            <th>Food Name</th>
                                                            <th>Donation Date</th>
                                                            <th>Expiry Date</th>
                                                            <th>Food Type</th>
                                                            <th>Item Type</th>
                                                            <th>Description</th>
                                                            <th>Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for food in donations %}
                                                        <tr>
                                                            <!-- <td>{{ loop.index }}</td> -->
                                                            <td>{{ food.food_id }}</td>
                                                            <td>{{ food.food_name }}</td>
                                                            <td>{{ food.donation_date }}</td>
                                                            <td>{{ food.expiry_hours }}</td>
                                                            <td>{{ food.food_type }}</td>
                                                            <td>{{ food.item_type }}</td>
                                                            <td>{{ food.food_description }}</td>
                                                            <td>{{ food.status }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        {% else %}
                                        <tr>
                                            <td colspan="11" class="text-center">No donations made yet.</td>
                                        </tr>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
{% endblock %}
