{% extends "layouts/base.html" %}

{% block title %} Rejection Confirmation Page {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">User Rejection Confirmation</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">User Rejection</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                {% if success %}
                                                    User Rejected! 
                                                {% else %}
                                                    User Not Rejected!
                                                {% endif %}
                                            </h5>
                                        </div>
                                        <div class="card-block">
                                            {% if success %}
                                                <p>
                                                    The user has been rejected successfully! 
                                                    The user records have been deleted from all places and they can no longer use this platform.
                                                </p>
                                                <a href="{{ url_for('admin_blueprint.new_pending_users')}}" class="btn btn-primary">Check Other Users</a>
                                                <a href="{{ url_for('home_blueprint.home_page') }}" class="btn btn-primary">Back to Home</a>
                                            {% else %}
                                                <p>
                                                    User Rejection failed due technical glitches. Try again after some time!
                                                </p>
                                                <a href="{{ url_for('home_blueprint.home_page') }}" class="btn btn-primary">Back to Home</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
