{% extends "layouts/base.html" %}

{% block title %} Donation History {% endblock %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="page-header">
                    <h5>Your Donation History</h5>
                </div>
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-block">
                                        {% if donations %}
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Donation ID</th>
                                                        <th>Food Name</th>
                                                        <th>Donation Date</th>
                                                        <th>Expiry Date</th>
                                                        <th>Food Type</th>
                                                        <th>Item Type</th>
                                                        <th>Description</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for food in donations %}
                                                    <tr>
                                                        <td>{{ loop.index }}</td>
                                                        <td>{{ food.food_id }}</td>
                                                        <td>{{ food.food_name }}</td>
                                                        <td>{{ food.donation_date }}</td>
                                                        <td>{{ food.expiry_date }}</td>
                                                        <td>{{ food.food_type }}</td>
                                                        <td>{{ food.item_type }}</td>
                                                        <td>{{ food.food_description }}</td>
                                                        <td>{{ food.status }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        {% else %}
                                            <p>No donations made yet.</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
