{% extends "layouts/base.html" %}

{% block title %} New Donation {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                <span class="mb-2 text-muted">
                                    {% if msg %}
                                        <span class="text-danger">{{ msg | safe }}</span>
                            
                                    {% endif %} 
                                </span>

                                <div class="card">
                                    <div class="card-header">
                                        <h5>Fill in the donation details</h5>
                                    </div>
                                    <!-- Hide the form on success -->
                                    {% if success %}
                                        <a href="{{ url_for('home_blueprint.home_page') }}" class="btn btn-primary shadow-2 mb-4">Back to Home</a>
                                    {% else %}
                                        <form role="form" method="post" action="">
                                            {{ form.hidden_tag() }}
                                            <div class="card-block">
                                                <div class="row">

                                                    <!-- Food Name -->
                                                    <div class="col-sm-6 mb-4">
                                                        <div class="form-group">
                                                            {{ form.food_name.label(class="form-label") }}
                                                            {{ form.food_name(class="form-control", placeholder="Enter Food Name") }}
                                                        </div>
                                                    </div>

                                                    <!-- Quantity -->
                                                    <div class="col-sm-6 mb-4">
                                                        <div class="form-group">
                                                            {{ form.quantity.label(class="form-label") }}
                                                            {{ form.quantity(class="form-control", placeholder="Enter Quantity (in kg)") }}
                                                        </div>
                                                    </div>

                                                    <!-- Item Type -->
                                                    <div class="col-sm-6 mb-4">
                                                        <div class="form-group">
                                                            {{ form.item_type.label(class="form-label") }}
                                                            {{ form.item_type(class="form-control") }}
                                                        </div>
                                                    </div>

                                                    <!-- Food Type -->
                                                    <div class="col-sm-6 mb-4">
                                                        <div class="form-group">
                                                            {{ form.food_type.label(class="form-label") }}
                                                            {{ form.food_type(class="form-control") }}
                                                        </div>
                                                    </div>

                                                    <!-- Expiry Date -->
                                                    <div class="col-sm-6 mb-4">
                                                        <div class="form-group">
                                                            {{ form.expiry_date.label(class="form-label") }}
                                                            {{ form.expiry_date(class="form-control", placeholder="YYYY-MM-DD") }}
                                                        </div>
                                                    </div>

                                                    <!-- Food Description -->
                                                    <div class="col-sm-12 mb-4">
                                                        <div class="form-group">
                                                            {{ form.food_description.label(class="form-label") }}
                                                            {{ form.food_description(class="form-control", placeholder="Enter Description") }}
                                                        </div>
                                                    </div>

                                                    <!-- Submit Button -->
                                                    <div class="col-sm-12 mb-2">
                                                        <button type="submit" name="new_donation" class="btn btn-primary shadow-2 mb-4">Submit</button>
                                                    </div>

                                                </div>
                                            </div>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
